.vscode
train/
microservice/models/
microservice/cfg.py

microservice/**/.vscode
microservice/**/__pycache__

microservice/**/*.bin
microservice/**/*.tar
microservice/**/*.zip
microservice/**/*.npy
microservice/**/*.csv
microservice/**/*.txt
microservice/**/*.log
microservice/**/*.ckpt
microservice/**/*.wav

**/**/*.scp

src/nn/*
src/.model.pt
deploy/*
docs/
docker/*
.vscode
**/*.bin
**/build
**/*third_party*
**/*pretrained_models*
**/*.tar
**/*.bin
**/*.txt
**/*.npy
**/*.csv
*private*
mandarin_filter/nn/*
# all __pycache__ directories
**/__pycache__/
src/pretrained*
minio/
src/log*
src/cpp/test
src/cfg*
**/*.wav
**/*.zip
**/*.ark
**/*.scp
**/*.log
**/*.ckpt
**/*CKPT*
**/*.tar.gz
**/*.tar
**/*.ckpt
**/*.ark
**/*.scp
**/*.log
**/*.score
**/*.sql
**/*.wcp
**/*.npy
**/*.lst
**/*.ckpt
**/*CKPT*
test/cnceleb_files
**/*.scores
**/*.score
**/*.temp
**/*.txt
**/*.score
**/*.bin
**/black_3.py
src/utils/html
docker/clean
docker/html
src/cpp_*
src/cpp
src/get_output_from_hit
launch.json
settings.json
